#root {
  padding-top: 5%;
  height: 100vh;
  text-align: center;
  background-image: url(https://images.photowall.com/products/43942/world-map-detailed.jpg?h=699&q=85);
  background-size: contain;
}

