.card-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card {
  background-color: white;
  width: 500px;
  height: 300px;
  transition: transform 0.2s;
  transform-style: preserve-3d;
  margin: 10px 0px;
}

.card.flipped {
  transform: rotateX(180deg);
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: rotateX(180deg);
}

.button-container {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.prev-btn {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px 15px;
}

.next-btn {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px 15px;
}

.shuffle-btn {
  background-color: black;
  color: white;
  font-size: 22px;
  padding: 5px 15px;
}

.green {
  background: rgb(202, 245, 222);
} 

.yellow {
  background: rgb(243, 245, 202);
} 

.red {
  background: rgb(245, 202, 202);
} 

img {
  max-width: 200px;
}

.guess-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.guess-container input {
  outline: none;
  color: white;
  background-color: black;
  padding: 5px 5px;
  border-width: 3px;
  border-color: black;
}

.guess-container button {
  color: white;
  background-color: black;
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  border-radius: 10px;
  border-width: 0px;
  padding: 10px 20px;
}

.guess-container button:hover {
  cursor: pointer;
}