.card-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 15px;
    
    & h2, h3, h4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    & h2 {
        font-size: 27px;
    }

    & .upvotes-left-container {
        display: flex;
        align-items: center;
        gap: 4px;
        justify-content: center;
        
        & img {
            max-width: 32px;
            cursor: pointer;
        }
    } 

    .shrink-pop {
        display: inline-block;
        transition: transform 0.15s ease;
        cursor: pointer;
    }

    .shrink-pop:active {
        transform: scale(0.9);
    }
}

.detailed {
    width: 840px;
    margin: 0 auto;
    padding: 25px;
    text-align: left;

    & .title-container {
        display: flex;
        align-items: baseline;
        gap: 12px;

        & h2 {
            font-size: 36px;
        }
    }

    & p {
        margin: 8px;
    }

    & .url-image {
        max-height: 30vh;
        margin: 8px;
    }

    & .map-link {
        margin: 8px;
        font-weight: normal;
    }

    & .upvotes-container {
        display: flex;
        align-items: center;
        gap: 4px;

        & img {
            max-width: 32px;
            cursor: pointer;
        }
    }
}