.navbar-container {
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgb(10, 10, 10);
    box-sizing: border-box;
    width: 100%;

    & .navlink-container {
        display: flex;
        gap: 36px;
        padding: 20px;
        justify-content: center;
        
        & a {
            color: white;
            font-weight: bold;
            font-size: 20px;
            text-decoration: none;
        }

        & .active {
            text-decoration: underline;
        }
    }
}